.. _@{ module }@:

{% if short_description %}
{% set title = module + ' - ' + short_description|convert_symbols_to_format %}
{% else %}
{% set title = module %}
{% endif %}
{% set title_len = title|length %}

@{ title }@
@{ '+' * title_len }@

.. contents::
   :local:
   :depth: 1

{# ------------------------------------------
 #
 # Please note: this looks like a core dump
 # but it isn't one.
 #
 --------------------------------------------#}

{% if aliases is defined -%}
Aliases: @{ ','.join(aliases) }@
{% endif %}

{% if deprecated is defined -%}
非推奨
----------

@{ deprecated }@
{% endif %}

概要
--------

{% if version_added is defined -%}
.. versionadded:: @{ version_added }@
{% endif %}

{% for desc in description -%}
@{ desc | convert_symbols_to_format }@
{% endfor %}

{% if options -%}
オプション
-------

.. raw:: html

    <table border=1 cellpadding=4>
    <tr>
    <th class="head">パラメータ</th>
    <th class="head">必須</th>
    <th class="head">デフォルト</th>
    <th class="head">選択肢</th>
    <th class="head">コメント</th>
    </tr>
    {% for k in option_keys %}
    {% set v = options[k] %}
    <tr>
    <td>@{ k }@</td>
    <td>{% if v.get('required', False) %}はい{% else %}いいえ{% endif %}</td>
    <td>{% if v['default'] %}@{ v['default'] }@{% endif %}</td>
    {% if v.get('type', 'not_bool') == 'bool' %}
    <td><ul><li>はい</li><li>いいえ</li></ul></td>
    {% else %}
    <td><ul>{% for choice in v.get('choices',[]) -%}<li>@{ choice }@</li>{% endfor -%}</ul></td>
    {% endif %}
    <td>{% for desc in v.description -%}@{ desc | html_ify }@{% endfor -%}{% if v['version_added'] %} (Ansible @{v['version_added']}@ で追加){% endif %}</td>
    </tr>
    {% endfor %}
    </table>
{% endif %}

{% if requirements %}
{% for req in requirements %}

.. note:: Requires @{ req | convert_symbols_to_format }@

{% endfor %}
{% endif %}

{% if examples or plainexamples %}
例
--------

.. raw:: html

{% for example in examples %}
    {% if example['description'] %}<p>@{ example['description'] | html_ify }@</p>{% endif %}
    <p>
    <pre>
@{ example['code'] | escape | indent(4, True) }@
    </pre>
    </p>
{% endfor %}
    <br/>

{% if plainexamples %}

::

@{ plainexamples | indent(4, True) }@
{% endif %}
{% endif %}

{% if notes %}
{% for note in notes %}
.. note:: @{ note | convert_symbols_to_format }@
{% endfor %}
{% endif %}


{% if not deprecated %}
    {% if core %}

これはコアモジュールです
---------------------

このモジュールのソースコードは `ansible-modules-core <http://github.com/ansible/ansible-modules-core>`_ の GitHub リポジトリにてホスティングされています。

このモジュールで最新の安定版または開発版のバグを見つけた場合は、まず最初に `issue tracker at github.com/ansible/ansible-modules-core <http://github.com/ansible/ansible-modules-core>`_ に登録されていないか確認してください。もしまだない場合、登録してもらえれば感謝します。

バグレポートに疑問があり、`ansible-project google group <https://groups.google.com/forum/#!forum/ansible-project>`_ または irc.freenode.net の Ansible's "#ansible" チャンネルでの問い合わせは歓迎します。開発中心のトピックスであれば `ansible-devel google group <https://groups.google.com/forum/#!forum/ansible-project>`_ になります。

このモジュールのドキュメントはソースコードの pull request が送られる事で直接編集され更新されます。ソースツリーの "DOCUMENTATION" ブロックを確認して下さい。

これは "extras" リポジトリのものより少し優先して対応される "core" モジュールです。

    {% else %}

これはエキストラモジュールです
------------------------

このモジュールのソースコードは `ansible-modules-extras <http://github.com/ansible/ansible-modules-extras>`_ の GitHub リポジトリにてホスティングされています。

このモジュールで最新の安定版または開発版のバグを見つけた場合は、まず最初に `issue tracker at github.com/ansible/ansible-modules-extras <http://github.com/ansible/ansible-modules-extras>`_ に登録されていないか確認してください。もしまだない場合、登録してもらえれば感謝します。

バグレポートに疑問があり、`ansible-project google group <https://groups.google.com/forum/#!forum/ansible-project>`_ または irc.freenode.net の Ansible's "#ansible" チャンネルでの問い合わせは歓迎します。開発中心のトピックスであれば `ansible-devel google group <https://groups.google.com/forum/#!forum/ansible-project>`_ になります。

このモジュールのドキュメントはソースコードの pull request が送られる事で直接編集され更新されます。ソースツリーの "DOCUMENTATION" ブロックを確認して下さい。

このモジュールは "extras" モジュールとして設計された事に注意してください。非コアモジュールはまだ完全に使用できるわけではありませんが、わずかな issue や pull request のレスポンスがあるでしょう。
人気の高い "extras" モジュールは時間が経てばコアモジュールに昇格するでしょう。

    {% endif %}
{% endif %}

モジュール開発のヘルプとして :doc:`community`、:doc:`developing_test_pr`、:doc:`developing_modules` を読んでください。
